.chat-main__messages__message
  .chat-main__messages__message__top
    %p.message__top__user-name
      = message.user.name
    %p.message__top__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__messages__message__low 
    - if message.body.present?
      %p.chat-main__messages__message__text
        = message.body
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
