.chat-main__form {
  background-color: #d2d2d2;
  height: 90px;
  padding: 20px 40px;
    &__new-message__input-box {
      width: 100%;
      display: flex;
      .input-box__image {
        position: relative;
        line-height: 50px;
          .icon {
            position: absolute;
            right: 10px;
            line-height: 50px;
          }
          .file-btn {
            display: none;
          }
      }
      .input-box__input-text {
      height: 50px;
      width: 100%;
      padding: 0 10px;
      border-style: none;
      }
    }
    .new-message__send-btn {
      width: 100px;
      height: 50px;
      margin-left: 15px;
      background-color: #38aef0;
      color: #ffffff;
    }
  }
